body {

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    height: 80px;
    border-radius: 10px;
}

header {
    padding: 16px 0;
    background-color: black;
}

.container,
.cardapio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1366px;
    margin: 0 auto;
}

.container ul {
    display: flex;
}

.container ul li {
    margin-right: 40px;
    list-style: none;
}

.container a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.container ul li:hover a {
    color: #e0c048;
}

/* Cardápio */
.cardapio {

    background-color: #080c0c;
    margin: 0 auto;
    flex-wrap: wrap;

}
section, .cardapio {
 
padding: 10px 0;

}


.cardapio p {
    color: white;
}

.cardapio img {
    height: 520px;
    margin-right: 26px;
}

.cardapio-left {
    display: flex;
    width: 100%;
 background-color: 
 #161616;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.cardapio h2 {
    margin: 0 auto;
    padding: 16px 0;
    font-size: 40px;
    color: #fff;
}

.conteudo_cardapio {
    justify-content: space-between;

}


.conteudo_cardapio p {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo_cardapio li {
    font-size: 24px;
    color: aliceblue;
    list-style: none;
}

.valor {
    margin: 0 auto;
    width: 30%;
    height: 70px;
    border-radius: 50%;

    background-color: #e0c048;
}

.valor li {
    margin-left: 15px;



}


.cardapio_ringth {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
    background-color: 
    #040404;

}

section .container {
    width: 100%;
    border: solid 1px rgb(230, 10, 10);
}

.cardapio button {
    background-color: green;
    width: 100%;
    height: 30px;


}

.bnt a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}

.bnt {
    padding: 16px 0;
}

.bnt button {
    border-radius: 20%;
}

.section_cardapio{
    margin-top: 10%;
}








@media (max-width:640px) {
    /* Estilos para smartphones e dispositivos móveis */
    header{
        width: 100%;
    }
 .cardapio{
    width: 100%;
   
 }

 .cardapio img {
    height: 180px;
    margin-right: 26px;
}
.logo{
    width: 100px;
    height: 40px;
}
.section_cardapio{
    margin: 0 auto;
}
.container ul {
    display: grid;
}
}